%tr
  %td
    %a(href='https://github.com/{{full-name}}') {{full-name}}
    %span.stars
      &nbsp;{{stars}} stars
  %td {{resolved}}
  %td {{answered}}
  %td {{pull-requests}}
  %td {{days-to-resolve-average}}
  %td {{comments-average}}
  %td {{last-issue-created-at}}
  %td {{last-pushed-at}}
