%tr
  %td Total
  %td {{count-closed}}/{{count-total}}
  %td {{count-answered}}/{{count-open}}
  %td {{count-pull-requests}}/{{count-total}}
  %td {{days-to-resolve-average}}
  %td {{comments-average}}
  %td -
  %td -